* {
    margin: 0;
    padding: 0;

}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: auto;
    height: auto;


}

.centered {
    position: fixed;
    top: 20%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;

}

#message {
    background-color: green;
    margin: 25
}

#track1 {
    display: none;
}

body {
    background-image: url(mediaimgs/slowgif.gif);
    width: auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;

}



h1 {
    color: white;
    font: italic;
    font-size: 250%;
    position: relative;
    text-align: center;
    top: 200px;
    text-shadow: 3px 3px black;
    animation: title 8s;

} 

@keyframes title {
    from {
        opacity: 0
    }

    ;

    to {
        opacity: 1
    }

    ;

}

@keyframes buttons {
    from {
        opacity: 0
    }

    ;

    to {
        opacity: 1
    }

    ;

}



#myButton2 {

    box-shadow: 0px 0px 0px 0px #3dc21b;
    background-color: #2A1C30;
    border-radius: 31px;
    border: 2px solid #2A1C30;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
    padding: 17px 31px;
    text-decoration: none;
    top: 200px;
    position: relative;
    text-align: center;
    left: 530px;
    animation-name: buttons;
    animation-duration: 8s;


}

#myButton2:hover {
    background-color: #1c1d31;
    -webkit-box-shadow: 0px 0px 191px 45px rgba(45, 255, 196, 0.9);
    -moz-box-shadow: 0px 0px 191px 45px rgba(45, 255, 196, 0.9);
    box-shadow: 0px 0px 191px 45px rgba(45, 255, 196, 0.9);
    cursor: pointer;
}






#submitbutton1 {
    /* visibility: hidden; */
    border-radius: 30px;
    position: relative;
    left: -385px;
    top: 170px;
    box-shadow: 3px 4px 0px 0px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #9bbdc2 100%);
    background-color: #599bb3;
    border-radius: 15px;
    border: 1px solid #29668f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;

}



#submitbutton1:hover,
#submitbutton:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 191px 45px rgba(45, 255, 196, 0.6);
    -moz-box-shadow: 0px 0px 191px 45px rgba(45, 255, 196, 0.6);
    box-shadow: 0px 0px 191px 45px rgba(45, 255, 196, 0.6);
} 


#groupnameform{
    animation-delay: 10s;
    position: relative;
    left: 550px;
    top:300px;
    box-sizing: border-box;
    border-radius: 40px;
    opacity: 0;
    animation: forms 3s;
}

#submitname{
    box-shadow: 3px 4px 0px 0px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #9bbdc2 100%);
    background-color: #40aca8;
    border-radius: 15px;
    border: 1px solid #29668f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

#group_id{
    color:black;
    border-radius: 30px;
    border-color:#cbebf7;
    
    width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #cbebf7;

}

#submitname:hover,#group_id:hover{
    -webkit-box-shadow: 0px 0px 191px 45px rgba(45, 255, 196, 0.6);
    -moz-box-shadow: 0px 0px 191px 45px rgba(45, 255, 196, 0.6);
    box-shadow: 0px 0px 191px 45px rgba(45, 255, 196, 0.6);

}


